<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <title>Keep Score</title>
  </head>
    <body>
      <div id="game_settings">

      </div>
      <div id="game_data">
        <h1>Database Query Results</h1>
        <p>Game id = <%=id > Game Title = <%=title > user id = <%=user_id >
        win high = <%win_high ></p>
      </div>
      
    </body>
</html>