fieldset { 
  display: inline;
  width: 71px;
  margin-left: 2px;
  margin-right: 2px;
  padding-top: 0.35em;
  padding-bottom: 0.625em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  border: 2px groove (internal value);
  /*background-color: rgba(119,221,119,.5);
  color: rgba(0,75,0,1);*/
  font-weight: bold;
  position: relative;
}
